<!-- <footer class="footer  p-lg-5"  style="background-image: none !important;" >
  <div class="container" style="    border-top: 1px solid #fff;">
      <div class="row" style="margin-top:20px ;">
          <div class="col-lg-3 col-md-6">
              <div class="footer__address">
                  <ul>
                      <li>
                          <i class="fa fa-phone"></i>
                          <p>Phone</p>
                          <h6>1-677-124-44227</h6>
                      </li>
                      <li>
                          <i class="fa fa-envelope"></i>
                          <p>Email</p>
                          <h6><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c98d83e784bcbaa0aa89aea4a8a0a5e7aaa6a4">[email&#160;protected]</a></h6>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 offset-lg-1 col-md-6">
              <div class="footer__social">
                  <h4>Connect</h4>
                  <div class="footer__social__links">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-dribbble"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6">
              <div class="footer__newslatter">
                  <h4>Stay With me</h4>
                  <form action="#">
                      <input type="text" placeholder="Email">
                      <button type="submit"><i class="fa fa-send-o"></i></button>
                  </form>
              </div>
          </div>
      </div>

      <div class="footer__copyright__text">
          <p>Copyright &copy;
            <script>
                  document.write(new Date().getFullYear());
              </script> All rights reserved 
      </div>

  </div>
</footer> -->

<!--===============================================================================================-->

 <body>
    <!-- End Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
    <div class="centered-container cc-footer section" style="z-index: 55;">
        <footer class="footer section">
            <div class="footer-main">
                <div class="footer-main__grid">
                    <div>
                        <div class="footer-main__content">
                            <div class="footer-text">
                                <p>Algoan helps lenders build the future of lending by unleashing the power of Open banking data.</p>
                            </div>
                            <div class="footer-buttons">
                                <ul class="footer_social">
                                    <li><a rel="me" href="#" class="linkedin" title="LinkedIn: Follow Algoan (open in new window)" target="_blank"><i class="icon icon_linkedin"></i></a></li>
                                </ul> <a title=" Subscribe to the newsletter" class="acfflex-link footer-button" rel="noopener" target="" href="#"> <span> Subscribe to the newsletter</span> </a> </div>
                            
                        </div>
                    </div>
                    <div>
                        <div class="footer-menu__wrapper">
                            <ul id="menu-footer-menu-en" class="footer-menu">
                                <li id="menu-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-171"><a href="#">Products</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-175" class="menu-item menu-item-type-post_type menu-item-object-products menu-item-175"><a href="#">Customer Onboarding</a></li>
                                        <li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-products menu-item-172"><a href="#">Score</a></li>
                                        <li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-products menu-item-174"><a href="#">Credit Insights</a></li>
                                        <li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-products menu-item-173"><a href="#">Dashboard</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-202" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-202"><a href="#">Solutions</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210"><a href="#">Credit &#038; Lending Origination</a></li>
                                        <li id="menu-item-1131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131"><a href="#">Amicable Debt Collection</a></li>
                                        <li id="menu-item-209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209"><a href="#">Debt Consolidation</a></li>
                                        <li id="menu-item-1132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1132"><a href="#">Buy Now Pay Later</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-1317" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1317"><a href="#">About us</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1318" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1318"><a href="#">Our Media Kit</a></li>
                                        <li id="menu-item-1319" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1319"><a href="#">Careers</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-588" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-588"><a href="#">Legals</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-589" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-589"><a href="#">Cookie Policy</a></li>
                                        <li id="menu-item-590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-590"><a href="#">Data Privacy Policy</a></li>
                                        <li id="menu-item-591" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-591"><a href="#">Legal Notice</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copy">
                <div class="footer-logo-line" style="width: 250px;height: 50px;"><img loading="lazy" src="https://tutedude.com/images/Tutedude.png" alt="" width="200" height="50" /></div>
                <div class="footer-copyright">&copy; CourseYard 2021</div>
         
            </div>
        </footer>
    </div>


   
<!--Start of Tawk.to Script-->

    <!--End of Tawk.to Script-->


</body>









<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/assets/js/uikit.js"></script>
<!-- 
<script src="js/vendors/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/newstyle/wp-content/cache/min/1/95f8e4ea59016e72cea6f9fc3a838735.js" data-minify="1"></script>

 
    <script src="/assets/js/tippy.all.min.js"></script>
    <script src="/assets/js/simplebar.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>

  
    <script type="module" src="/unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js" data-stencil-namespace="ionicons"></script>

    <script nomodule="" src="/unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js" data-stencil-namespace="ionicons"></script>
   
    <script src="/js/main.js"></script>
