<%- include ../partials/homeheader %>
<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body style="background-color: aliceblue;">
<div style="margin: 250px auto;text-align: center;height: 100vh;color: #005a9e;">
    <p style="font-weight:600;"> *PLEASE CHECK YOUR REGISTERED EMAIL</p>
    <p style="font-weight:600;">  A PASSWORD RESET LINK HAS BEEN SENT TO YOUR REGISTERED EMAIL</p>
</div>
</body>
<%- include ../partials/homefooter %>
