<%- include ../partials/homeheader %>
<head>
    <style>
 header .header_inner .left-side .triger{
	color:#02466B ;
}      
a{
    color:#02466B ;
}
.contact-info {
  display: inline-block;
  width: 100%;
  text-align: center;
      margin-bottom: 10px;
}
.contact-info-icon {
margin-bottom: 15px;
}
.contact-info-item {
  background: #071c34;
  padding: 30px 0px;
}
.contact-page-sec .contact-page-form h2 {
  color: #071c34;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 700;
}
.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
  padding-left: 0;
}  
.contact-page-form.contact-form input {
  margin-bottom: 5px;
}  
.contact-page-form.contact-form textarea {
  height: 110px;
}
.contact-page-form.contact-form input[type="submit"] {
  background: #071c34;
  width: 150px;
  border-color: #071c34;
}
.contact-info-icon i {
  font-size: 48px;
  color: #fda40b;
}
.contact-info-text p{margin-bottom:0px;}
.contact-info-text h2 {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact-info-text span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}

.contact-page-form input {
  background: #f9f9f9 none repeat scroll 0 0;
  border-bottom: 1px solid #071c34 !important;
  margin-bottom: 40px !important;
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;
}

.contact-page-form .message-input {
display: inline-block;
width: 100%;
padding-left: 0;
}
.single-input-field textarea {
  background: #f9f9f9 none repeat scroll 0 0;
  border-bottom: 1px solid #071c34;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
}
.single-input-fieldsbtn input[type="submit"] {
  background: #071c34 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 10px !important;
  text-transform: capitalize;
  width: 150px;
  margin-top: 60px;
  line-height: 20px !important;
  font-size: 16px;
}
.single-input-fieldsbtn input[type="submit"]:hover{background:#071c34;transition: all 0.4s ease-in-out 0s;border-color:#071c34}
.single-input-field  h4 {
  color: #464646;
  text-transform: capitalize;
  font-size: 14px;
}
.contact-page-form {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}

.contact-page-map {
  margin-top: 36px;
}
.contact-page-form form {
    padding: 20px 15px 0;
}
    </style>
</head>
<body style="background-color: #fff;">
    <div id="content">
    <section class="centered-container section cc-block--master-header" data-post-type="page">
        <picture class="block--master-header__bg">
                    <img width="1800" height="1000" src="https://www.algoan.com/wp-content/uploads/2021/04/team2.jpg" class="attachment-2048x2048 size-2048x2048" alt="" loading="lazy" />    </picture>
            <div class="block--master-header">
            <div class="block--master-header__inner will-scrollanim" data-loader-delay="700" data-usechildren="1" data-delay="300">
                    <div data-vawjs-anim="slideup" class="field-surtitle algoan--surtitle">
                Our mission        </div>
                            <h1 data-vawjs-anim="slideup" data-vawjs-lines="1" data-vawjs-delay="300" class="h1 field-title">Open Banking credit for good</h1>
                                    </div>
        </div>
    </section>
    <div id="after-master-header"></div>
    <div class="main-content">
        <div data-group="content-blocks"><div class="centered-container cc-wpuacfflexible cc-block-content-classic cc-block-content-classic--content">
            <div class="block--content-classic cssc-content"><h2 class="field-title"><span>We are on a mission to revolutionize the credit industry</span></h2><div class="field-content cssc-content"><p>We are convinced our technologies can have a positive impact on society as a whole.</p>
    <p>We build fairer and more transparent credit decisioning tools based on the power of open banking which will provide better access to credit for all.</p></div><div class="field-cta"><a title="Our Media Kit" class="acfflex-link "  href="#"> <span>Our Media Kit</span> </a></div></div>
        </div>
    <section class="centered-container section cc-block--word">
        <div class="block--word">
            <div class="field-text has-vanilla-jsuparallax-resp" data-jsuplxperspective="1000" data-jsuplxmode="horizontal"><div class="word">Transform the credit industry</div></div>
        </div>
    </section>
    <section class="centered-container section cc-block--testimonials">
        <div class="block--testimonials" data-image-position="right">
            <div class="block--testimonials__grid" data-image-position="right">
                <div class="col-image has-vanilla-jsuparallax">
                    <img width="720" height="480" src="https://www.algoan.com/wp-content/uploads/2021/04/algoan-team-3-min-1280x853.jpeg" class="attachment-large size-large" alt="" loading="lazy" />            </div>
                <div>
                    <div class="section block--testimonials__content" data-quote="0">
                        <div class="section will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800">
                            <h2 class="field-title-main" data-vawjs-lines="1" data-vawjs-anim="slideup">Think big and  <u>excel!</u></h2>
                            <div class="field-text cssc-content"><p><span style="font-weight: 400;">The sky is the limit when it comes to challenging the status quo. We are not afraid to take bold moves and test new things while striving for the highest quality of delivery.</span></p>
    </div>                                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="centered-container section cc-block--testimonials">
        <div class="block--testimonials" data-image-position="left">
            <div class="block--testimonials__grid" data-image-position="left">
                <div class="col-image has-vanilla-jsuparallax">
                    <img width="720" height="480" src="https://www.algoan.com/wp-content/uploads/2021/04/algoan-team-4-min-1280x853.jpeg" class="attachment-large size-large" alt="" loading="lazy" />            </div>
                <div>
                    <div class="section block--testimonials__content" data-quote="0">
                        <div class="section will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800">
                            <h2 class="field-title-main" data-vawjs-lines="1" data-vawjs-anim="slideup">People and  <u>diversity</u></h2>
                            <div class="field-text cssc-content"><p><span style="font-weight: 400;">People and talents are at the core of what we are building. Nothing would be possible without them!</span></p>
    <p><span style="font-weight: 400;">Over 12 nationalities are represented and we value diversity at all levels.</span></p>
    <p><a href="#" >Join us!</a></p>
    </div>                                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="centered-container section cc-block--testimonials">
        <div class="block--testimonials" data-image-position="right">
            <div class="block--testimonials__grid" data-image-position="right">
                <div class="col-image has-vanilla-jsuparallax">
                    <img width="720" height="480" src="https://www.algoan.com/wp-content/uploads/2021/04/algoan-team-2-min-1280x853.jpeg" class="attachment-large size-large" alt="" loading="lazy" />            </div>
                <div>
                    <div class="section block--testimonials__content" data-quote="0">
                        <div class="section will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800">
                            <h2 class="field-title-main" data-vawjs-lines="1" data-vawjs-anim="slideup">Positive impact</h2>
                            <div class="field-text cssc-content"><p>“Science without conscience is only the ruin of the soul”<span style="font-weight: 400;"><br />
    &#8211; Rabelais</span></p>
    <p><span style="font-weight: 400;">Having a positive impact on society through credit is what makes us get up every day &#8211; all of our actions and decisions follow this motto.</span></p>
    </div>                                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="centered-container section cc-block--testimonials">
        <div class="block--testimonials" data-image-position="left">
            <div class="block--testimonials__grid" data-image-position="left">
                <div class="col-image has-vanilla-jsuparallax">
                    <img width="720" height="480" src="https://www.algoan.com/wp-content/uploads/2021/04/algoan-team-1-min-1280x853.jpeg" class="attachment-large size-large" alt="" loading="lazy" />            </div>
                <div>
                    <div class="section block--testimonials__content" data-quote="0">
                        <div class="section will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800">
                            <h2 class="field-title-main" data-vawjs-lines="1" data-vawjs-anim="slideup">Transparency and <u>feedback</u></h2>
                            <div class="field-text cssc-content"><p><span style="font-weight: 400;">We strive at providing maximum transparency within the teams. </span><span style="font-weight: 400;">Strategy and decision making process are constantly shared with everyone throughout monthly team meetings.</span></p>
    <p><span style="font-weight: 400;">“Feedback is a gift”, nothing more to add:-)</span></p>
    </div>                                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="centered-container section cc-block--team" data-design="darker">
        <div class="block--team">
        <h2 class="field-title-main will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800"><div data-vawjs-lines="1" data-vawjs-anim="slideup">Our Management Algoaners </div></h2>
        <ul class="team-items-list">
                <li>
                    <div class="team-items-item">
            <div class="img">
            <a href="#">        <img width="510" height="638" src="https://www.algoan.com/wp-content/uploads/2021/04/m_diguet.jpg" class="attachment-medium size-medium" alt="" loading="lazy" />        <span class="field-linkedin"><i class="icon icon_linkedin"></i></span>        </a>        </div>
            <h3 class="field-title ">Michael Diguet</h3>
            <p class="field-role">Co-founder and CEO</p>
            </div>
            </li>
                <li>
                    <div class="team-items-item">
            <div class="img">
            <a href="#">        <img width="510" height="638" src="https://www.algoan.com/wp-content/uploads/2021/04/paul-peyre.jpg" class="attachment-medium size-medium" alt="" loading="lazy" />        <span class="field-linkedin"><i class="icon icon_linkedin"></i></span>        </a>        </div>
            <h3 class="field-title ">Paul Peyré</h3>
            <p class="field-role">Co-founder and Chief Risk & Data Officer</p>
            </div>
            </li>
                <li>
                    <div class="team-items-item">
            <div class="img">
            <a href="#">        <img width="508" height="638" src="https://www.algoan.com/wp-content/uploads/2021/04/francois-gutierrez.jpg" class="attachment-medium size-medium" alt="" loading="lazy" />        <span class="field-linkedin"><i class="icon icon_linkedin"></i></span>        </a>        </div>
            <h3 class="field-title ">François Gutierrez</h3>
            <p class="field-role">Associate Director and Chief Revenue Officer</p>
            </div>
            </li>
            </ul>
        </div>
    </section>
  
    <!-- <section class="centered-container section cc-block--cta"
        data-height="default"
        data-align="left-wide"
        >
        <div data-jsuplxdir="bottom" data-jsuplxperspective="200" class=" image-wrapper">
        <div>
        <picture class="block--cta__bg">
                    <source media="(max-width: 768px)" srcset="https://www.algoan.com/wp-content/uploads/2021/04/home_hero_mobile-2.jpg">
                    <img width="1800" height="726" src="https://www.algoan.com/wp-content/uploads/2021/04/home_small-4.jpg" class="attachment-2048x2048 size-2048x2048" alt="" loading="lazy" />    </picture>
        </div>
        </div>
            <div class="block--cta">
            <div class="block--cta__inner will-scrollanim" data-usechildren="1" data-offset="100" data-delay="300">
                            <h2 data-vawjs-anim="slideup" data-vawjs-lines="1"  data-vawjs-delay="150" class="field-title">Get in touch! </h2>
                <div class="field-cta"><a title="Request a demo" class="acfflex-link algoan-button algoan-button--white algoan-button--size-second"  rel="noopener" target="" href="https://www.algoan.com/ask-for-a-demo/"> <span>Request a demo</span> </a></div>
            </div>
        </div>
    </section> -->
    </div></div>
    </div>
    <div class="light-header">
        <h1 class="light-header__title">Contact us</h1>
        <div class="light-header__description cssc-content">
            <div class="wrap-text"><p>Contact us today to unleash the power of Open Banking data!</p>
        </div>
        </div>
        </div>
        <div class="main-content">
            <div data-group="content-blocks"><section class="centered-container cc-block--forms ">
                <div class="block--forms">
                    <div class="block--forms__inner">
                        <h2 class="form-title will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="300"><div data-vawjs-lines="1" data-vawjs-anim="slideup" data-hasscrollanim="1" data-active="1" data-vawjs-ready="1"><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">Get</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">In</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">touch</span></span></div></h2>
                        <section class="contact-page-sec">
                            <div class="container">
                              <div class="row">
                                <div class="col-md-8">
                                  <div class="contact-page-form" method="post">
                                    <form action="#" method="post">
                                      <div class="row">
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="single-input-field">
                                          <input type="text" placeholder="*Your Name" name="name"required />
                                        </div>
                                      </div>  
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="single-input-field">
                                          <input type="email" placeholder="*E-mail" name="email" required/>
                                        </div>
                                      </div>                              
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="single-input-field">
                                          <input type="text" placeholder="*Phone Number" name="phone" required/>
                                        </div>
                                      </div>  
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="single-input-field">
                                          <input type="text" placeholder="*Subject" name="subject" required />
                                        </div>
                                      </div>                
                                      <div class="col-md-12 message-input">
                                        <div class="single-input-field">
                                          <textarea  placeholder="*Write Your Message" name="message" required></textarea>
                                        </div>
                                      </div>                                                
                                      <div class="single-input-fieldsbtn">
                                        <input type="submit" value="Send Now"/>
                                      </div>                          
                                    </div>
                                    </form>   
                                  </div>      
                                </div>
                                     
                              </div>
                            </div>
                          </section>
                    </div>
                </div>
        </section>
        </div></div>
</body>
    <%- include ../partials/homefooter %>