<%- include ../partials/header %>

<h1 class="sign_h mt-5">About Us</h1>
<hr class="line" />

<section class="about-section">
  <div class="container">
    <div class="row clearfix">
      <!--Content Column-->
      <div class="content-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-column">
          <div class="sec-title">
            <div class="title">
              <span class="W">W</span>e Are The Leader In The Men's Fashion
            </div>
            <hr class="line" />
          </div>
          <div class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries
          </div>
          <div class="email">
            Request Quote: <span class="theme_color">freequote@gmail.com</span>
          </div>
          <a href="about.html" class="theme-btn btn-style-three">Read More</a>
        </div>
      </div>

      <!--Image Column-->
      <div class="image-column col-md-6 col-sm-12 col-xs-12">
        <div
          class="inner-column"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <img src="https://i.ibb.co/vQbkKj7/about.jpg" alt="" />
            <div class="overlay-box">
              <div class="year-box">
                <span class="number">5</span>Years <br />
                Experience <br />
                Working
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img
          src="https://i.ibb.co/qpz1hvM/About-us.jpg"
          alt="about"
          class="img-fluid"
          width="100%"
        />
      </div>
      <div class="col-lg-6">
        <h3>Lorem ipsum dolor sit amet, consectetur</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <div class="row">
          <div class="col-md-6">
            <h4><i class="far fa-star"></i>Awesome Design</h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>
              Creative Design
            </h4>
          </div>
          <div class="col-md-6">
            <h4><i class="far fa-star"></i>Better Client Service</h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>
              Digital Marketing & Branding
            </h4>
          </div>
          <div class="col-md-6">
            <h4><i class="far fa-star"></i>Creative Design</h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>
              Speed And Flexibility
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 mx-auto mt-3 mb-3">
      <h1 class="sign_h">Our location on map</h1>
      <div class="mt-4" id="map" style="width: 100%; height: 400px"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/map.js"></script>

<%- include ../partials/footer %>
